{% extends 'base.html.twig' %}
{% block title %}À propos{% endblock %}
{% block body %}
<h1>À propos</h1>
<p>Bienvenue sur mon site !
Je suis actuellement en train d’apprendre Symfony et Clever Cloud 🚀</p>
<p>Ce site sert de portfolio et de terrain d’expérimentation.</p>
{% endblock %}
